.pytest_cache/
**/.coverage
**/htmlcov/

**/__pycache__
**/.env
**/client_secret.json
PORTFOLIO.md
REVIEWS_FEATURE.md
DEPLOYMENT_PREP.md
PROJECT_TWO_PAGES.md
0921_LOCAL_PROD.md
0921_DEPLOYMENT_LOG.md
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
